{
      "version": "1.0.1",
      "runtime": "ncnn",
      "source": "cloud",
      "modelId": "16",
      "modelDir": "squeeze",
      "modelName": "squeezenet_v1.1.bin",
      "modelSign": "537b2a425e4650701448012e725c8d3d",
      "modelParamName": "squeezenet_v1.1.param.bin",
      "modelLabelName": "synset_words.txt"
}
