<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.didi.aoe.library.core">

    <application>
        <service
            android:name=".AoeProcessService"
            android:exported="false"
            android:process=":aoeProcessor" />

    </application>
</manifest>
